<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saenaegi.lfree">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".aAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity android:name=".MakeVideoActivity">
        </activity>
        <activity android:name=".WatchVideoActivity">
        </activity>
        <activity android:name=".NoticeActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".LikeVideoListActivity" >
        </activity>
        <activity android:name=".MyVideoListActivity" >
        </activity>
        <activity android:name=".VideoRequestListActivity" />
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/accessibility_service_config" />
        <activity android:name=".aOpenSourceActivity" />
        <activity android:name=".aIntroductionActivity" />
        <activity android:name=".aSelectPartActivity" >
        </activity>
        <activity android:name=".aWatchVideoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".aSetPushActivity" />
        <activity android:name=".aSettingsActivity" />
        <activity android:name=".aNoticeActivity" />
        <activity android:name=".aLikeVideoActivity" >
        </activity>
        <activity android:name=".aRequestVideoActivity" />
        <activity android:name=".aSearchActivity" />
        <activity android:name=".aRecentVideoActivity" >
        </activity>
        <activity android:name=".aWatchVideoMenuActivitiy" >
        </activity>
        <activity android:name=".aHowToUseActivity" />
        <activity android:name=".aLfreeMainActivity" >
        </activity>
        <activity android:name=".VideoCommentaryListActivity" >
        </activity>
        <activity android:name=".ChoiceActivity">
        </activity>
        <activity android:name=".LfreeMainActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>